body{

    font-family: sans-serif;
    margin: 0;
    padding: 0;
   background-image: url("http://wallpaper-gallery.net/images/website-background-wallpapers/website-background-wallpapers-20.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#logotitle{
   
    height: 50px;
    width: 120px;

}

#header{
    color: white;
}

#buttonContainer{

    width: 233px;
    margin: 0 auto;

}

.toggleButton{


    float: left;
    border: 1px solid black;
    padding: 6px;
    border-right: none;
    font-size: 90%;
}



#html{

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#output{

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid black;

}

.Box{
    margin: 0;
    width: 50%;
    float: left;
} 

#logo{
    float: left;
    font-weight: bold;
    font-size: 120%;
    padding: 3px 5px;
    color: black;
}

.active1{
    background-color: #4e5256;

}

.highlightButton{
    background-color: grey;

}

.panel{
    width: 100%;
    resize: none;
    border-color: black;
    background: rgba(41, 43, 44, 0.8);
    color: #DFFFFF;
    opacity: 50%;
   
}
   




.hidden{
    display: none;
}



.panelTitle{
    color: white;
    border: 1px solid black;
    height: 30px;
    background: rgba(56, 59, 61,0.7);
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    width: 100%;

}

.save button{


    border-radius: 5px;
    border: 1px solid black;
    padding: 6px;
    font-size: 90%;
    cursor: pointer;
    margin: 1px;
    background-color: #2A3034;
    color: white;
}

#fileToLoad{
    border-radius: 5px;
    border: 1px solid white;
    padding: 6px;
    border-right: none;
    font-size: 90%;
    border: 1px solid #d0d3d8;
    cursor: pointer;
}

input[type="file"]{
    border-radius: 5px;
    border: 1px solid #c9ced6;
    padding: 3px;
    margin: 1px;
    font-size: 90%;
    cursor: pointer;
    width: 100%;
      color: white;
    background: black;

}



.save{
    padding: 3px;
    border: solid 1px black;
    margin-bottom: 3px;
    margin-top: none;
     border-color: black;
    background: rgba(41, 43, 44 , 0.7);
    color: #DFFFFF;

}



.savebtn{
    padding: 3px;
     margin: 1px;
    border: 1px solid #d0d3d8;
    border-radius: 5px;
    width: 100%;
    color: white;
    background: black;
}


#outputPanel{

    border: 1px solid black;
    color: white;
   

}

.clearfix{
    overflow: auto;
}

#outputBox{
    float: right;

}

#alert1,#alert2,#alert3{
    text-align: center;
   margin: 0 auto;
    width: 50%;
}
